<form action="api/search" class="form-inline" method="get">
	<div class="form-group">
		<label>Enter word/phrase: </label>
		<input type="text" class="form-control" name="keyword" />
	</div>
	<button type="submit" class="btn btn-primary">View</button>
</form>